.even{
    background-color: rgb(214, 221, 226);
}
.odd{
    background-color:aliceblue
}
.table{
    text-align: center;
    margin-top: 0.5%;
}
td,th{
    padding: 0.5%;
}
button{
    margin: 0% 5px;
    background-color: transparent;
    border: none;
}
#reason{
    width: 30%;
    max-width: fit-content;
}
#accept{
    color: rgb(0, 97, 139);
    border: 1px solid rgb(0, 97, 139);
    padding: 20%;
    border-radius: 15%;
}
#reject{
    color: rgb(176, 5, 5);
    border: 1px solid rgb(176, 5, 5);
    padding: 22% 32%;
    border-radius: 15%;
}
#message{
    margin-top:5%;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    color:rgb(91,91,91);
}