.dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    background-color: rgb(214, 221, 226);
    height: 6vh;
    box-sizing: border-box;
}
.child-tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color:rgb(84, 87, 90);
    height: 4.5vh;
    width: 10vw;
    display: grid;
    place-items:center ;
    border-radius: 3px;
}
.active{
    background-color: slategray;
    color: rgb(214, 221, 226);
}